@font-face {
  font-family: "PlayfairDisplay";
  src: url(../fonts/PlayfairDisplay-Regular.ttf);
}

body {
  background-image: url(../images/moutain-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

nav {
  font-family: "PlayfairDisplay";
  font-size: 1rem;
  margin-top: 20%;
  backdrop-filter: blur(10px);
  padding: 1rem;
  position: fixed;
  display: block;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  top: 2rem;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
}

ul {
  display: flex;
  padding: 0;
  justify-content: space-around;
  list-style-type: none;
  color: white;
}

ul li {
  width: 30%;
  padding: 5px 10px; /* Padding normal pour les items */
  position: relative;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(1.05); /* Applique un zoom sans changer la taille réelle */
  border-radius: 10px;
  cursor: pointer;
}

.dropdown {
  display: flex;
  flex-direction: column;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0%;
  background-color: rgb(72, 72, 72, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
  padding: 10px;
  width: 100%;
  min-width: 150px;
  border-radius: 10px;
}

.dropdown li {
  width: 100%;
}

ul li:hover .dropdown {
  visibility: visible;
  opacity: 1;
}
